<!DOCTYPE html>
<html lang="en">
  <head>
  <title> Locations</title>
  </head>
  <body>
  	<div>
     
     <form action="/search" method="post">
       <label>Select category: </label>
      <select name="category">
                    <option>--select--</option>
                    <option>Hostpital</option>
                    <option>Restaurant</option>
                    <option>Park</option>
                    <option>Shopping Center</option>
                    <option>University</option>
                    <option>Other</option>
                </select>
    
    
    <br/>

    <button>Submit</button>

     </form> 
    </div>

  </body>
 </html>